{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lucide/0.263.1/lucide.min.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard {% endblock %}

{% block content_title %} {% trans 'Organisation' %} {% endblock %}

{% block content %}
<div class="row justify-content-center text-center mt-4">
    <div class="col-md-4 mt-4">
        <a href="{% url 'admin:system_organisation_changelist' %}" class="nav-link p-4 shadow rounded bg-light d-block {% if 'swotentry' in request.path %}active{% endif %}">
            <i class="fa-solid fa-building-columns fa-3x mb-2"></i>
            <h5>Organisation</h5>
        </a>
    </div>

    <div class="col-md-4 mt-4">
        <a href="{% url 'admin:system_stakeholder_changelist' %}" class="nav-link p-4 shadow rounded bg-light d-block">
            <i class="fa-solid fa-people-group fa-3x mb-2"></i>
            <h5>Stakeholders</h5>
        </a>
    </div>

    <div class="col-md-4 mt-4">
        <a href="{% url 'admin:system_organisationdepartment_changelist' %}" class="nav-link p-4 shadow rounded bg-light d-block">
            <i class="fa-solid fa-sitemap fa-3x mb-2"></i>
            <h5>Departments</h5>
        </a>
    </div>

     <div class="col-md-4 mt-4">
        <a href="{% url 'admin:system_swotentry_changelist' %}" class="nav-link p-4 shadow rounded bg-light d-block">
            <i class="fa-solid fa-dumbbell fa-3x mb-2"></i>
            <h5>SWOT</h5>
        </a>
    </div>

    <div class="col-md-4 mt-4">
        <a href="{% url 'admin:system_pestleentry_changelist' %}" class="nav-link p-4 shadow rounded bg-light d-block">
            <i class="fa-solid fa-mortar-pestle fa-3x mb-2"></i>
            <h5>PESTLE</h5>
        </a>
    </div>

    <div class="col-md-4 mt-4">
        <a href="{% url 'admin:system_scopestatement_changelist' %}" class="nav-link p-4 shadow rounded bg-light d-block">
            <i class="fa-solid fa-up-down-left-right fa-3x mb-2"></i>
            <h5>Scope Statement</h5>
        </a>
    </div>
</div>

{% endblock %}

{% block extrajs %}
{% endblock %}